<section class="hero is-halfheight is-info" style="background: url(<%= @most_popular.image_url %>) center center; background-size: cover">
  
  <div class="hero-body">
  </div>
  <div class="hero-foot">
    <div class="ml-6">
      <p class="title">
        <%= @most_popular.title %>
      </p>
      <p class="subtitle">
        <%=@most_popular.text.truncate_words(60) %>
      </p>
    </div>
</section>
<section class="hero is-medium is-danger">
  <div class="hero-body">
    
    <p class="title">
      Medium hero
    </p>
    <p class="subtitle">
      Medium subtitle
    </p>
  </div>
</section>