<section class="hero is-large is-info">
  <div class="hero-body">
    <p class="title">
      <%= @most_popular.title %>
    </p>
    <p class="subtitle">
      <%=@most_popular.text.truncate_words(60) %>
    </p>
    <%= display_photo(@most_popular) %>
    
  </div>
</section>
<section class="hero is-medium is-danger">
  <div class="hero-body">
    
    <p class="title">
      Medium hero
    </p>
    <p class="subtitle">
      Medium subtitle
    </p>
  </div>
</section>