<section class="hero is-halfheight is-info" style="background: url(<%= show_popular %>) center center; background-size: cover">
  
  <div class="hero-body mb-5">
  </div>
  <div class="hero-foot mb-5">
    <div class="ml-5 mb-3">
      <p class="title is-size-3">
        <%= @most_popular.title %>
      </p>
      <p class="subtitle is-size-5">
        <%= @most_popular.text.to_s.truncate_words(60) %>
      </p>
    </div>
  </div>
</section>
<section class="hero is-medium is-info">
    <%= show_articles_by_categories(@articles_by_category) %>  
</section>

  